@font-face {
	font-family: 'Signika-Light';
	src: url('../font/Signika-Light.ttf');

}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  background-image: url(https://m3-static.marvelapp.com/assets/035f0bb82fb25c39e4873a2833a2e8de.png);
  width: 313.565px;
  height: 557.727px;
  padding: 91.1428px 24.249px 89.4704px;
  position: relative;
  box-sizing: content-box;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.layer1 {
  position: relative;
  height: 528.267px;
  color: #fff;
  z-index: 100;
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.7);
  background: #89bbca;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  position: relative;
  width: 80%;
  height: 100%;
  /* background: #ccc; */
  text-align: center;
  font-family: 'Signika-Light';
  font-size: 12px;
}

.sky {
  position: absolute;
  width: 497px;
  top: 78px;
  /* transition: transform 0.2s; */
  transform: scale(1.9);
  right: 72%;
}

form {
  /* background: #CCC; */
  text-align: left;
  display: grid;
  color: #000000;
  font-size: 18px;
  margin-top: 85px;
}

input {
  margin-bottom: 11px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color:rgba(0, 0, 0, 0);
  color:white;
  font-weight: 700;
}

label {
  margin-bottom: 2px;
}

select {
  margin-bottom: 11px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color:rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-weight: 700;
}
option {
  color: #000000;
}
.acept {
  position: absolute;
  left: 26px;
  bottom: 115px;
  font-weight: 700;
}
.boton {
  border: none;
  background: #C39b52;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  width: 204px;
  height: 40px;
  position: relative;
  bottom: 14px;
  border-radius: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.datos {
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
  border-top: 1px solid #FFFFFF;
  padding-top: 6px;
  width: 218px;
  text-align: left;
}

.error {
  width: 100%;
  height: 25px;
  font-size: 20px;
  color: green;
  font-weight: 700;
}

.leftimg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.rightimg {
  position: absolute;
  bottom: 0;
  right: -2px;
}